@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --Green-200: hsl(148, 38%, 91%); /*lighter*/
    --Green-600: hsl(169, 82%, 27%); /*Medium*/
    --Green-hover: hsl(172, 83%, 14%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%); /*medium*/
    --Grey-900: hsl(187, 24%, 22%); /*darker*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
     font-family: "Karla", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Green-200);
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    place-content: center;
}

.form{
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    min-height: 100vh;
    background-color: var(--White);
    padding: 20px;
    border-radius: 15px;
}

.form__title{
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: var(--Grey-900);
}

.form__info,
.form__query,
.form__message{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form__personal-data{
    width: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__personal-data input{
    transition: all 300ms ease;
}

.form__personal-data:hover input{
    border: 1px solid var(--Green-600);
}

.form__personal-data label,
.form__query > label,
.form__message-container label,
.form__consent label{
    color: var(--Grey-900);
    font-size: 0.9rem;
}

.form__personal-data label span,
.form__query > label span,
.form__message-container label span,
.form__consent label span{
    color: var(--Green-600);
}

.form__personal-data input,
.form__query-type{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--Grey-500);
    padding: 10px;
}

.form__query{
    flex-direction: column;
}

.form__query-types{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.form__query > label{
    width: 100%;
}

.form__query-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: all 300ms ease;
}

.form__query-type:hover{
    border: 1px solid var(--Green-600);
}

.form__query-type label{
   color: var(--Grey-900);
}

.form__message-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__message-container textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--Grey-500);
    padding: 10px;
    transition: all 300ms ease;
}

.form__message-container textarea:hover{
    border: 1px solid var(--Green-600);
}

.form__consent{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__submit{
    width: 100%;
    height: 50px;
    background-color: var(--Green-600);
    color: var(--White);
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all 300ms ease;
}

.form__submit:hover{
    background-color: var(--Green-hover);
}

.hide{
    display: none;
}

@media (min-width: 426px){
    .form{
        min-height: 500px;
    }

    .form__title{
        margin-bottom: 10px;
    }

    .form__info,
    .form__query,
    .form__message{
        gap: 10px;
    }

    .form__query-types{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .form__message-container textarea{
        height: 80px;
    }

    .form__personal-data input,
    .form__query-type{
        height: 35px;
    }

    .form__submit{
        height: 40px;
    }
}
