@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --Green-200: hsl(148, 38%, 91%); /*lighter*/
    --Green-600: hsl(169, 82%, 27%); /*Medium*/
    --Green-hover: hsl(172, 83%, 14%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%); /*medium*/
    --Grey-900: hsl(187, 24%, 22%); /*darker*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
     font-family: "Karla", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Green-200);
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    place-content: center;
}

.form{
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    min-height: 100vh;
    background-color: var(--White);
    padding: 20px;
    border-radius: 15px;
}

.form__title{
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: var(--Grey-900);
}

.form__info,
.form__query,
.form__message{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form__personal-data{
    width: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__personal-data input{
    transition: all 300ms ease;
    color: var(--Grey-900);
    font-size: 1rem;
    font-family: "Karla", sans-serif;
}

.form__personal-data:hover input,
.form__personal-data input:focus{
    border: 1px solid var(--Green-600);
    outline: none;
}

.form__personal-data label,
.form__query > label,
.form__message-container label,
.form__consent label{
    color: var(--Grey-900);
    font-size: 0.9rem;
}

.form__personal-data label span,
.form__query > label span,
.form__message-container label span,
.form__consent label span{
    color: var(--Green-600);
}

.form__personal-data input,
.form__query-type{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--Grey-500);
    padding: 10px;
}

.form__query{
    flex-direction: column;
}

.form__query-types{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.form__query > label{
    width: 100%;
}

.form__query-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all 300ms ease;
}

.form__query-type:hover,
.form__query-type:focus-within{
    border: 1px solid var(--Green-600);
    background-color: var(--Green-200);
}

.form__query-type input:checked,
.form__query-type input:focus{
    accent-color: var(--Green-600);
    outline: none;
}

.form__query-type input{
    width: 10%;
}


.form__query-type label{
   color: var(--Grey-900);
   width: 90%;
}

.form__message-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__message-container textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--Grey-500);
    padding: 10px;
    transition: all 300ms ease;
    color: var(--Grey-900);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    outline: none;
}

.form__message-container textarea:hover,
.form__message-container textarea:focus{
    border: 1px solid var(--Green-600);
}

.form__consent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.form__consent input:checked{
    accent-color: var(--Green-600);
    outline: none;
    border: none;
}


.form__submit{
    width: 100%;
    height: 50px;
    background-color: var(--Green-600);
    color: var(--White);
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all 300ms ease;
}

.form__submit:hover,
.form__submit:focus{
    background-color: var(--Green-hover);
}

.success__message{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 280px;
    width: 90%;
    height: 80px;
    background-color: var(--Grey-900);
    color: var(--White);
    top: 10px;
    left: calc(50% - (280px / 2));
    padding: 20px;
    border-radius: 10px;
}

.success__message div{
    display: flex;
    gap: 10px;
}

.success__message img{
    width: 15px;
}

.success__message div p{
    font-size: 0.9rem;
    font-weight: bold;
}

.success__message p{
    font-size: 0.8rem;
    font-weight: 300;
}

.hide{
    display: none;
}

.validation__text{
    color: var(--Red);
    font-size: 0.9rem;
}

@media (min-width: 426px){
    .form{
        max-width: 700px;
        min-height: 550px;
        height: auto;
    }

    .form__title{
        margin-bottom: 10px;
    }

    .form__info,
    .form__query,
    .form__message{
        gap: 10px;
    }

    .form__query-types{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .form__message-container textarea{
        height: 80px;
    }

    .form__personal-data input,
    .form__query-type{
        height: 35px;
    }

    .form__submit{
        height: 40px;
    }

    .success__message{
        max-width: 360px;
        left: calc(50% - (360px / 2));
    }
}
